.OuterListContainer{
    height: 100%;
    width: 14%;
    background-color:var( --left-side-bar);
    padding: 15px;
    box-sizing: border-box;
    position: relative;
}

.LogoContainer{
    width: 39px;
    height: auto;
}
.LogoContainer img{
    height: 100%;
    width: 100%;
    border-radius: 6px;
}
.TextLogoContainer p:nth-child(1){
    color: var( --left-top-text);
    margin: 0 0 5px 0;
}
.TextLogoContainer p:nth-child(2){
    color: var(--left-top-text);
    opacity: 0.8;
    text-decoration: underline;
    font-size: 12px;
}
.FirstTopLeft{
    display: flex;
    align-items: center;
    gap: 10px;
}
.TopLeftContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.SingleAction{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 15px 10px;
}
.ActionText p{
    color: var(--left-top-text);
    opacity: 0.8;
    font-size: 14px;
}
.ActionContainer{
    margin: 30px  0 0 0;
}
.CreditsContainer{
    position: absolute;
    bottom: 12px;
    background-color: var(--wallet-background);
    padding: 6px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 85%;
    box-sizing: border-box;
}
.CreditsText p:nth-child(1){
    font-size: 12px;
    color: var(--left-top-text);
    opacity: 0.8;
    margin: 0 0 5px 0;
}
.CreditsContainer p:nth-child(2){
    color: var( --left-top-text);
    font-size: 14px;
}
.ActiveAction{
    background-color:#ffffff1a;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 15px 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.ActiveAction .ActionImage img{
    filter: invert(0) brightness(1);
}
.ActiveAction .ActionText p{
    color: var(--left-top-text);
    opacity: 1;
}