.TopHeaderOuterContainer{
    border-bottom: 1px solid #D9D9D9;
    background:var(--left-top-text);
    padding: 10px 30px;
    box-sizing: border-box;
    height: 8%;
}
.PaymentsText p{
    color: #1A181E;
    font-size: 14px;
    font-weight: 600;
}
.InnerFlexContainer{
    display: flex;
    justify-content: space-between;
}
.LeftContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}
.WorksContainer{
    display: flex;
    align-items: center;
    gap: 5px;
}
.WorksContainer p{
    color: #4D4D4D;
   font-size: 12px;
}
.MiddleContainer{
    display: flex;
    width: 400px;
    padding: 0px 16px;
    align-items: center;
    border-radius: 6px;
    box-sizing: border-box;
    background: #F2F2F2;
    margin: 0 auto;
}
.InputContainer input{
    width: 100%;
    outline: none;
    border: none;
    background: #F2F2F2;
    padding: 9px 16px;
}
.InputContainer input::placeholder{
    color: #808080;
    font-size: 15px;
}
.SearchImage img{
    margin: 2px 0 0 0;
}
.AnnouncementContainer,.DarkArrowContainer{
    background: #E6E6E6;
    padding: 8px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.RightContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}